/*container*/

.container-fluid {
    height: 1500px;
    background-color: #666;
}

/*navbar*/

.navbar {
    height: 125px;
}

.navbar-brand {
    margin-right: 65%;
    margin-left: 15px;
}


/*footer*/ 

.footer {
    height: 125px;
    padding-top: 55px;
}
