/*container*/
.container-fluid {
    height: 1500px;
    background-color: #666;
}

/*navbar*/
.navbar {
    height: 125px;
}

.navbar-brand {
    margin-right: 65%;
    margin-left: 15px;
}

/*content card*/
.card {
    margin-top: 35px;
}

.card-image {
    display: block;
    max-width: 300px;
    max-height: 195px;
    width: auto;
    height: auto;
}

/*footer*/ 
.footer {
    height: 125px;
    padding-top: 55px;
}
